<div class="card">
  <%= link_to image_tag(video.image, class: :card__img ), root_path%>
  <div class="card__body">
    <%= link_to video.video_name, root_path, class: :card__title%>
    <p class="card__summary">
      <%= video.genre.name %>
    </p>
    <%= link_to "by #{video.user.channel_name}", root_path, class: :card__user %>
  </div>
</div>