<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規動画PR投稿</h2>
        <%= render partial: "form", locals: { video: @video } %>
    </div>
  </div>
</div>